[submodule "themes/noesya-hugo-theme"]
	path = themes/noesya-hugo-theme
	url = https://github.com/noesya/noesya-hugo-theme.git

[submodule "themes/osuny-hugo-theme-aaa"]
	path = themes/osuny-hugo-theme-aaa
	url = https://github.com/noesya/osuny-hugo-theme-aaa.git
