// Blocks
.block-image, 
.block-gallery
    @include in-page-without-sidebar
        .block-content figure
            background: $color-background-alt
            display: block
            padding-bottom: $spacing5
            padding-top: $spacing4
            a
                margin: 0
                width: 100%
            picture
                margin: 0
                img
                    margin: auto
                    max-height: unset
.block-image 
    @include in-page-without-sidebar
        figure img
            width: col(8)
.block-gallery 
    @include in-page-without-sidebar
        .gallery
            @include grid(2, desktop)
        figure
            padding-right: $spacing3
            padding-left: $spacing3
            @include media-breakpoint-up(xxl)
                padding-right: $spacing5
                padding-left: $spacing5
            img
                width: 100%