header#document-header nav button[type="button"]
    display: none
// Posts
.page__home 
    main
        padding-bottom: $spacing5
    .hero
        min-height: unset
.posts__page 
    header#document-header 
        a.logo 
            transition: color .3s ease, opacity .35s
            img 
                transition: filter .3s ease
            &.revert
                color: white
                img
                    filter: invert(1)
    main
        overflow: hidden
    .hero 
        height: 75vh
        margin-bottom: 0
        overflow: hidden
        padding-top: 0
        position: relative
        @include media-breakpoint-up(desktop)
            padding-bottom: $spacing2
        .container, .content
            height: 100%
        .container
            margin: 0
            max-width: unset
            padding: 0
        .content
            align-items: flex-end
            display: flex
            justify-content: space-between
            padding: $grid-gutter-sm half($grid-gutter-sm)
            @include media-breakpoint-up(desktop)
                padding: $grid-gutter
                max-width: $grid-max-width
                margin-left: auto
                margin-right: auto
            figure
                filter: brightness(70%)
                height: 100%
                object-fit: cover
                left: 0
                margin-left: 0
                margin-right: 0
                position: absolute
                top: 0
                right: 0
                width: 100%
                z-index: 1

                a, picture
                    display: block
                    height: 100%
                img
                    height: 100%
                    object-fit: cover
            hgroup
                color: white
                flex: 1
                z-index: 2
                @include media-breakpoint-up(desktop)   
                    // align-items: center
                    display: flex 
                    justify-content: space-between
                    h1
                        font-size: $post-title-size
                        line-height: $post-title-line-height
                        width: col(9)
                        + p
                            font-size: $post-date-size
                            line-height: $post-date-line-height
                @include media-breakpoint-down(desktop)
                    margin: 0
                    h1 + p
                        margin-top: $spacing0
    .block-summary
        .lead + div
            display: flex
            justify-content: space-between
            flex: 1
            gap: $grid-gutter
            margin-top: 4px
            picture
                width: col(2,4)
                margin-top: 6px
        @include media-breakpoint-down(desktop)
            .lead + div
                margin-top: $spacing3
        @include media-breakpoint-up(desktop)
            .block-content
                display: flex
                gap: $grid-gutter
            .lead
                width: col(8)
                + div picture
                    width: col(1.5,4)
    @include media-breakpoint-up(desktop)
        .block
            padding-top: calc(#{$spacing4} - #{$spacing1})
            padding-bottom: calc(#{$spacing4} - #{$spacing1})
        .block-call_to_action
            margin-top: calc(#{$spacing4} - #{$spacing0})
        .block-organization_chart
            padding-top: calc(#{$spacing3})
    .projects-navigation
        align-items: center
        display: flex
        font-size: $project-navigation-text
        justify-content: center
        min-height: 100vh
        ul
            list-style: none
            text-align: center
            a
                display: flex
                flex-direction: column
                text-decoration: none
                .navigation
                    font-family: $body-font-family
                    font-style: italic
                h3
                    @include h1
                    margin: $spacing3 0 $spacing0
                    @include media-breakpoint-up(desktop)
                        font-size: $project-navigation-title
                    + span
                        color: $color-text-alt
    .block:not(.block-chapter) .top h2,
    .block-chapter.block-chapter--alt_background h2
        @include h5
        font-family: $body-font-family
        font-style: italic
        text-transform: initial

// Blocks
.block-image, 
.block-gallery
    figcaption
        bottom: 0
        font-size: 0
        position: absolute
        transform: translateY(100%)
        right: 0
    @include in-page-without-sidebar
        .block-content figure
            background: $color-background-alt
            display: block
            picture
                margin: 0
                width: 100%
            @include media-breakpoint-up(desktop)
                padding-bottom: $spacing4
                padding-top: $spacing4
                picture img
                    margin: auto
                    max-height: unset
                figcaption
                    font-size: 0
    @include media-breakpoint-down(desktop)
        .container
            padding-left: 0
            padding-right: 0
.block-image 
    @include in-page-without-sidebar
        figure img
            margin-bottom: 0
            margin-left: half($grid-gutter-sm)
            margin-right: half($grid-gutter-sm)
            width: calc(100% - #{$grid-gutter-sm})
            @include media-breakpoint-up(desktop)
                width: col(8)
            @include media-breakpoint-down(desktop)
                padding-bottom: half($grid-gutter-sm)
                padding-top: half($grid-gutter-sm)
.block-gallery 
    @include in-page-without-sidebar
        .gallery
            @include grid(2, desktop)
            align-items: inherit
            figure 
                &::after
                    display: none
                img
                    margin-bottom: 0
            @include media-breakpoint-up(desktop)
                figure.cover
                    position: relative
                    picture
                        bottom: 0
                        left: 0
                        height: 100%
                        position: absolute
                        right: 0
                        top: 0
                        img
                            height: 100%
                            object-fit: cover
                            width: 100%
                figure:not(.cover) picture
                    margin-left: auto
                    margin-right: auto
                    width: col(2.65,6)
            @include media-breakpoint-up(xxl)
                figure:not(.cover) picture
                    width: col(2.85,6)
            @include media-breakpoint-down(desktop)
                @include grid(1)
                grid-gap: 0 !important
                figure
                    padding-bottom: 0
                    padding-top: 0
                    &.cover
                        padding-top: 0
                        picture 
                            height: 100%
                            img
                                display: initial
                                height: 100%
                    &:not(.cover) 
                        padding-bottom: $spacing3
                        padding-top: $spacing3
                        picture
                            margin-left: $spacing3
                            margin-right: $spacing3
                            width: fit-content
                        + figure:not(.cover)
                            padding-top: 0
                    
.block-gallery + .block-image,
.block-image + .block-gallery
    padding-top: 0
@include media-breakpoint-up(desktop)
    .block-image + .block-gallery
        margin-top: -54px

.block-organization_chart,
.block-partners
    .top h2
        text-align: center
.block-organization_chart
    .avatar
        width: col(3,8)
    @include media-breakpoint-down(desktop)
        .persons
            gap: calc(#{$spacing1} + #{$spacing0})
    @include media-breakpoint-up(desktop)
        .top
            margin-bottom: $spacing4
        @include in-page-without-sidebar
            .persons
                @include grid(3, desktop)
            .avatar
                width: col(3,8)
                margin-bottom: 0
            .description + .avatar
                margin-right: $spacing1
    .person
        align-items: center
        flex-direction: row
        .description
            text-align: left
.block-partners
    .media
        background: none
    h3
        font-size: 0
    .organizations
        display: flex
        justify-content: center
        column-gap: $grid-gutter
        flex-wrap: wrap
        row-gap: half($grid-gutter)
        .organization
            width: col(6)
            @include media-breakpoint-up(desktop)
                width: col(2)

.block-chapter 
    .chapter
        @include in-page-with-or-without-sidebar
            @include media-breakpoint-up(desktop)
                .text
                    display: flex
                    width: 100%
                    gap: $grid-gutter
                    .top 
                        width: col(5)
                        + * 
                            width: col(7)
    &.block-chapter--alt_background 
        background: none
        .text
            @include in-page-with-or-without-sidebar
                display: block
                text-align: center
                .top, 
                .rich-text
                    width: 100%
                .top
                    margin-bottom: $spacing4
                p + p 
                    margin-top: $spacing0
                @include media-breakpoint-down(desktop)
                    margin-bottom: $spacing3

.block-call_to_action
    overflow: hidden
    position: relative
    @include in-page-without-sidebar
        .block-content
            padding-top: $spacing4
            padding-bottom: $spacing4
            @include media-breakpoint-up(desktop)
                padding-top: $spacing5
                padding-bottom: $spacing5
        .call_to_action--with-image
            display: flex
            justify-content: center
            @include media-breakpoint-down(desktop)
                padding-top: $spacing3
            picture
                bottom: 0
                left: 0
                position: absolute
                top: 0
                right: 0
                margin-bottom: 0
                img
                    height: 100%
                    object-fit: cover
                    object-position: top
                    width: 100%
        .actions 
            margin-top: 0
            position: relative
            text-align: center
            z-index: 2
            a
                @include icon(arrow, after)
                margin: 0
                &:focus-visible
                    outline-color: $block-call-to-action-color
                &::after
                    margin-left: $spacing0
.block-posts--list
    @include in-page-without-sidebar
        @include media-breakpoint-up(desktop)
            .post
                .post-content
                    margin-left: 0
                .media
                    pointer-events: none
                    opacity: 0
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    transition: opacity .2s ease
                    width: col(2,7)
                    z-index: 100
                &:hover
                    .media
                        opacity: 1

@media (prefers-color-scheme: dark)
    .block-image, 
    .block-gallery
        @include in-page-without-sidebar
            .block-content figure
                background: $color-background-alt-dark
    .posts__page 
        .projects-navigation ul a h3 + span
            color: $color-text-alt-dark
        .lead + div picture,
        .block-partners picture
            filter: invert(1) grayscale(1)
