{{ define "main" }}

  {{ partial "posts/single/hero.html" . }}

  <div class="document-content" itemscope itemtype="https://schema.org/NewsArticle">
    <meta itemprop="headline" content="{{ partial "PrepareHTML" .Title }}">
    <meta itemprop="url" content="{{ .Permalink }}">
    {{ if .Date }}<meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02T15:04" }}">{{ end }}
    {{ if .Params.summary }}<meta itemprop="abstract" content="{{ partial "PrepareText" .Params.summary }}">{{ end }}
    {{ if .Summary }}<meta itemprop="description" content="{{ partial "PrepareText" .Summary }}">{{ end }}

    <div class="block block-summary">
      <div class="container">
        <div class="block-content">
          {{ partial "posts/single/summary.html" (dict
            "context" .
            "block_wrapped" false
          ) }}
          {{ with .Params.contents }}
            {{ $organization_blocks := where . "title" "[organisation]" }}
            {{ with index $organization_blocks 0 }}
              {{ with index .data.organizations 0 }}
                <div>
                  <div class="top">
                    <p class="block-title">L'organisation</p>
                  </div>
                  {{ with (site.GetPage (printf "/organizations/%s" .slug )) }}
                    {{ if .Params.logo }}
                      {{- partial "commons/image.html"
                        (dict
                          "image"    .Params.logo
                          "alt"      .Params.title
                          "sizes"    site.Params.image_sizes.blocks.partners
                        ) -}}
                    {{ end }}
                  {{ end }}
                </div>
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

    {{ partial "contents/list.html" (dict
      "context" .
      "contents" .Params.contents
    ) }}

    {{ partial "posts/single/after-contents.html" . }}

    {{ partial "posts/navigation.html" . }}

    {{ partial "hooks/before-document-content-end.html" . }}
  </div>
{{ end }}
