{{- if or .PrevInSection .NextInSection -}}
<div class="block-pagination">
  <div class="container">
    <div class="block-content">
      <nav class="projects-navigation" aria-label="{{ i18n "commons.pagination.between.posts" }}">
        <ul>
          {{- if .PrevInSection -}}
            {{with .Site.RegularPages.Prev . }}
              <li>
                {{ $title := partial "PrepareHTML" .Title -}}
                <a href="{{.RelPermalink}}" title="{{ safeHTML (i18n "posts.next_aria" (dict "Title" $title)) }}">
                  <span class="navigation">
                    {{- i18n "posts.next" -}}
                  </span>
                  <h3>{{- $title -}}</h3>
                  <span>{{ .Date.Format "2006"}}</span>
                </a>
              </li>
            {{end}}
          {{- end -}}
          {{- if eq .PrevInSection nil -}}
            {{$posts := ($.Site.GetPage "posts" .Section).Pages.ByPublishDate.Reverse }}
              {{ range first 1 $posts }}
                <li>
                  {{ $title := partial "PrepareHTML" .Title -}}
                  <a href="{{.RelPermalink}}" title="{{ safeHTML (i18n "posts.next_aria" (dict "Title" $title)) }}">
                    <span class="navigation">
                      {{- i18n "posts.next" -}}
                    </span>
                    <h3>{{- $title -}}</h3>
                    <span>{{ .Date.Format "2006"}}</span>
                  </a>
                </li>
              {{ end }}
          {{- end -}}
        </ul>
      </nav>
    </div>
  </div>
</div>
{{- end -}}
